<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SFU.G1.SFUResources">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/display"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/display"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.SFU.G1.SFUResources.MainActivity"
            android:label="SFU Resources">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.SFU.G1.SFUResources.AdvisorLogin"
            android:label="Advisor Login"
            android:parentActivityName="com.SFU.G1.SFUResources.MainActivity" />
        <activity
            android:name="com.SFU.G1.SFUResources.AdvisorManagement"
            android:label="Event Management"
            android:parentActivityName="com.SFU.G1.SFUResources.AdvisorLogin" />
        <activity
            android:name="com.SFU.G1.SFUResources.AdvisorAdd"
            android:label="Add Event"
            android:parentActivityName="com.SFU.G1.SFUResources.AdvisorManagement"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.SFU.G1.SFUResources.StudentDepartment"
            android:label="Department"
            android:parentActivityName="com.SFU.G1.SFUResources.StudentFaculty" />
        <activity
            android:name="com.SFU.G1.SFUResources.StudentFaculty"
            android:label="Faculty"
            android:parentActivityName="com.SFU.G1.SFUResources.MainActivity" />
        <activity
            android:name="com.SFU.G1.SFUResources.StudentEvent"
            android:label="Events" />
        <activity android:name="com.SFU.G1.SFUResources.StudentEventDisplay" />
        <activity android:name="com.SFU.G1.SFUResources.AboutActivity"
            android:label="About"/>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>