<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SFU.G1.SFUResources">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/display"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/display"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="SFU Resources">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvisorLogin"
            android:label="Advisor Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdvisorManagement"
            android:label="Event Management"
            android:parentActivityName=".AdvisorLogin" />
        <activity
            android:name=".AdvisorAdd"
            android:label="Add Event"
            android:parentActivityName=".AdvisorManagement"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StudentDepartment"
            android:label="Department"
            android:parentActivityName=".StudentFaculty" />
        <activity
            android:name=".StudentFaculty"
            android:label="Faculty"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StudentEvent"
            android:label="Events" />
        <activity android:name=".StudentEventDisplay" />
        <activity
            android:name=".AboutActivity"
            android:label="About" />
        <activity android:name=".AdvisorEditEvent"></activity>
    </application>

</manifest>