<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CMPT.G1.StudentResources">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/display"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/display"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.CMPT.G1.StudentResources.MainActivity"
            android:label="Student Resources">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.CMPT.G1.StudentResources.AdvisorLogin"
            android:label="Advisor Login"
            android:parentActivityName="com.CMPT.G1.StudentResources.MainActivity" />
        <activity
            android:name="com.CMPT.G1.StudentResources.AdvisorManagement"
            android:label="Event Management"
            android:parentActivityName="com.CMPT.G1.StudentResources.AdvisorLogin" />
        <activity
            android:name="com.CMPT.G1.StudentResources.AdvisorAdd"
            android:label="Add Event"
            android:parentActivityName="com.CMPT.G1.StudentResources.AdvisorManagement"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.CMPT.G1.StudentResources.StudentDepartment"
            android:label="Department"
            android:parentActivityName="com.CMPT.G1.StudentResources.StudentFaculty" />
        <activity
            android:name="com.CMPT.G1.StudentResources.StudentFaculty"
            android:label="Faculty"
            android:parentActivityName="com.CMPT.G1.StudentResources.MainActivity" />
        <activity
            android:name="com.CMPT.G1.StudentResources.StudentEvent"
            android:label="Events" />
        <activity android:name="com.CMPT.G1.StudentResources.StudentEventDisplay" />
        <activity android:name="com.CMPT.G1.StudentResources.AboutActivity"
            android:label="About"/>
    </application>

</manifest>